body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    height: 320px;
    width: 320px;
    background-color: azure;
    display: flex;
    flex-direction: column;

}

.pixelRow {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex-grow: 1;
    border: 1px solid rgb(208, 208, 208);
}

.pixel:hover {
    background-color: black;
}